/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Haz 2019, 09:29:08
    Author     : Ayberk
*/
.body{

}


.firstColumn {
    width: 100px;
    height: 30px;

    background : transparent !important;
}
.secondColumn {
    width: 100px;
    height: 30px;
    padding: 0px !important;;



}


.insertButton{

}

.insertButton:hover{
    /*background-image: -webkit-linear-gradient(left, #267871,#136a8a) !important;*/
    border :0.7px solid green !important;
    transition: 0.25s;
}
.declineButton:hover{
    /*background-image: -webkit-linear-gradient(left, #267871,#136a8a) !important;*/
    border :0.7px solid red !important;
    transition: 0.25s;


}

.insertButton:focus{

    /*background-image: -webkit-linear-gradient(right, #267871,#136a8a) !important;*/
    transition: 0.25s;

}

.ui-button {
/*    height: 40px ;
    width: 100px;*/
    border-radius: 24px !important;
    padding: 0.1em 1em !important;
    margin: 5px !important;
    transition: 0.25s !important;
    /*text-align: center!important ;*/
    background: #00acac !important;

}

.ui-button:hover {
            background: #007979 !important;

        /*background: #2c3e50 !important;*/

}

.ui-button-text-only .ui-button-text {
    /* padding: .3em 1em; */
}


.output{
    padding-top: 40px;
    width: 100px;

}


.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {

    width: 200px;
    height: 30px;
    /*background : white !important;*/    
}

.p-datepicker{
    min-width: 0px !important;
    text-transform: uppercase !important;
}



.ui-selectonemenu .ui-selectonemenu-label {

    width: 200px ;     
}

.ui-selectonemenu .ui-selectonemenu-trigger {

    height: 40px !important;
    background: none transparent;
    border: none;
}


/*Datatable column header*/

 /*BURADA BIRAKTIM DATATABLE HEADER TEXT*/

body .ui-datatable thead th{
    background : grey !important;
}

body .ui-datatable thead th:hover{
    /*background : darkgrey !important;*/
    background : #2d353c !important;
    /*background-image: -webkit-linear-gradient(right, #136a8a, #267871) !important;*/
}

/*Panel Header*/

body .ui-panel .ui-panel-titlebar{
    background-color : #2c3e50 !important;
   
    /*background-image: -webkit-linear-gradient(left, #136a8a, #267871) !important;*/

}

.ui-datatable table {
    border-collapse: separate !important;
    background: lightgrey !important;
    border: 2px grey  solid !important;
}
body .ui-panel .ui-panel-titlebar {
}


/*Datatable footer sayfa yonlendirme*/

body .ui-paginator{
    border: 2px grey  solid !important;

}


.normal{
    
    
    
}

.red{
    background-color: lightcoral !important;
}

.green{
        background-color: lightgreen !important;
}

.yellow{
            background-color: lightpink !important;

}
html {
    /*color: -internal-root-color;*/
}

/*:root {
    --input-border-color: #a6a6a6;
    --input-hover-border-color: #212121;
    --input-focus-border-color: #007ad9;
}

:root {
    --input-border-color: #a6a6a6;
    --input-hover-border-color: #212121;
    --input-focus-border-color: #007ad9;
}*/