/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Haz 2019, 09:29:08
    Author     : hp_user
*/
.body{

}


.firstColumn {
    width: 100px;
    height: 30px;
    /*padding: 0px !importantt;*/
    /*text-transform: uppercase;*/
    background : transparent !important;
}
.secondColumn {
    width: 100px;
    height: 30px;
    padding: 0px !important;;



}
.thirdColumn { 
    /*width: 300px;*/
    /*margin-left: 40px;*/

}

.insertButton{
    width: 100px !important;
    height: 40px;
    /*border-width: 0px !important;*/
    border-radius: 36px !important;
    padding: 0.1em 1em !important;
    margin: 5px !important;
    transition: 0.25s;
    background-color : #007AD9;
    /*background: #136a8a !important;*/
    /*background-image: -webkit-linear-gradient(left, #136a8a, #267871) !important;*/
}

.insertButton:hover{
    /*background-image: -webkit-linear-gradient(left, #267871,#136a8a) !important;*/
    border :solid green !important;
    transition: 0.25s;
}
.declineButton:hover{
    /*background-image: -webkit-linear-gradient(left, #267871,#136a8a) !important;*/
    border :solid red !important;
    transition: 0.25s;


}

.insertButton:focus{

    background-image: -webkit-linear-gradient(right, #267871,#136a8a) !important;
    transition: 0.25s;

}

.ui-button-text-only .ui-button-text {
    /* padding: .3em 1em; */
}


.output{
    padding-top: 40px;
    width: 100px;

}


.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {

    width: 200px;
    height: 30px;
    background : white !important;    
}

.p-datepicker{
    min-width: 0px !important;
    text-transform: uppercase !important;
}



.ui-selectonemenu .ui-selectonemenu-label {

    width: 200px !important;     
}

.ui-selectonemenu .ui-selectonemenu-trigger {

    height: 40px !important;
    background: none transparent;
    border: none;
}


/*Datatable column header*/

body .ui-datatable thead th{
    background : grey !important;
}

body .ui-datatable thead th:hover{
    background : darkgrey !important;

    /*background-image: -webkit-linear-gradient(right, #136a8a, #267871) !important;*/
}

/*Panel Header*/

body .ui-panel .ui-panel-titlebar{
    background-color : #007AD9 !important;
    /*background-image: -webkit-linear-gradient(left, #136a8a, #267871) !important;*/

}

.ui-datatable table {
    border-collapse: separate !important;
    background: lightgrey !important;
    border: 2px grey  solid !important;
}


/*Datatable footer sayfa yonlendirme*/

body .ui-paginator{
    border: 2px grey  solid !important;

}


.normal{
    
    
    
}

.red{
    background-color: red !important;
}

.green{
        background-color: green !important;

}