/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Haz 2019, 09:29:08
    Author     : Ayberk
*/
.body{

}

:root { 
    /*background:#cceeff;*/
    background: #f0f0f0 !important;
    font-family: 'Roboto', sans-serif;

}


.firstColumn {
    width: 100px;
    height: 30px;

    background : transparent !important;
}
.secondColumn {
    width: 100px;
    height: 30px;
    padding: 0px !important;;



}


.insertButton{

}

.insertButton:hover{
    border : 1.5px solid green !important;
    transition: 0.25s;
}
.declineButton:hover{
    border :1.5px  solid red !important;
    transition: 0.25s;


}


.ui-button {
    /*height: 40px ;*/
    width: 100px;
    border-radius: 24px !important;
    padding: 0.1em 1em !important;
    margin: 5px !important;
    transition: 0.25s !important;
    /*text-align: center!important ;*/

    background: #6c76af !important;
    border : 1.5px solid transparent !important;
}

.ui-button:hover {

    background : #693a8c !important;

}

.ui-button-text-only .ui-button-text {
    /* padding: .3em 1em; */
}


.output{
    padding-top: 40px;
    width: 100px;

}


.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {

    width: 200px;
    height: 30px;
    border: 1px solid black;
    /*background : #cccccc !important;*/    
}

.p-datepicker{
    min-width: 0px !important;
    text-transform: uppercase !important;
}

body .ui-selectonemenu.ui-state-highlight ,.ui-selectonemenu.ui-state-active ,.ui-selectonemenu.ui-state-hover  {

    border: 1px solid #6c76af !important;
}


.ui-selectonemenu .ui-selectonemenu-label {

    width: 200px ;     
}

.ui-selectonemenu .ui-selectonemenu-trigger {

    /*height: 40px !important;*/
    background: none transparent;
    border: none;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
    background: #6c76af !important;
}




/*Datatable column header*/

/*BURADA BIRAKTIM DATATABLE HEADER TEXT*/

body .ui-datatable thead th{
    background : darkgrey !important;
    /*background : #caffff !important;*/
    color : white !important ;
}

body .ui-datatable thead th:hover{
    background : grey !important;

    /*background : #2d353c !important;*/
    /*background-image: -webkit-linear-gradient(right, #136a8a, #267871) !important;*/
}

/*Panel Header*/

body .ui-panel .ui-panel-titlebar{
    background-color : #444D56 !important;
    /*background-color : #3D372E !important;*/

}

.ui-datatable table {
    border-collapse: separate !important;
    background: lightgrey !important;
    border: 2px grey  solid !important;
    /*color: white !important;*/

}
body .ui-panel .ui-panel-titlebar {
}


/*Datatable footer sayfa yonlendirme*/


body .ui-paginator{
    /*border: 2px grey  solid !important;*/
    background-color: #22282d !important;

}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    color:white !important;
}
body .ui-paginator .ui-paginator-current {
    color: white !important;
}


body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #6c76af !important ;
}


body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
    background-color: #2D353C !important;
    color : white !important;

}
body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
    background: #6c76af !important;

}

body .ui-accordion .ui-accordion-header {
    background-color: #444D56 !important;
    padding: 8px 14px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 14px;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}



body .ui-accordion .ui-accordion-header.ui-state-hover {
    background-color: #444d56 !important;
}


body .ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #6c76af !important;
    border: 1px solid #6c76af !important;

    color: #ffffff !important;
}
body .ui-accordion .ui-accordion-header.ui-state-active:hover, body .ui-accordion .ui-accordion-header.ui-state-active.ui-tabs-outline {
    /*border: 1px solid blue !important;*/
    /*#6c76af*/
}

body .ui-panel .ui-panel-titlebar {
    color : white !important;

}

.ui-panelmenu .ui-menuitem-link {
    border: none!important;
}


body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title.ui-state-highlight {
    border: 1px solid #6c76af !important;
    background-color: #6c76af !important;
    color: #fff;
}

.normal{



}

.red{
    background-color: lightcoral !important;
}

.green{
    background-color: lightgreen !important;
}

.yellow{
    background-color: lightpink !important;

}



/*EXCEPTION PAGE*/ 

/*********/

/*.exception-top{

        height: 30% !important;

    position: relative;
    width: 100% !important;
    background-color: white !important;
    padding: 0;
    margin: 0px;

}



.exception-bottom{
    min-height: 70% !important;
    position: absolute;

    width: 100%;
    top: 30%;
    background: purple !important;
    padding: 0;
    margin: 0px;
    height: 70%;


}*/


