/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Haz 2019, 09:29:29
    Author     : hp_user
*/

body{
    margin: 0;
    padding:0;
    font-family: 'Mali', cursive;

    font-weight: bold;
    text-decoration: none;
    background-color:#cceeff;
    font-weight:bold;


}

.box{
    width: 350px !important;
    padding: 25px !important;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    border-radius: 36px !important;
    font-family: 'Mali', cursive;


    transform: translate(-50%,-50%);
    background: #2c3e50;
-webkit-box-shadow: 13px -9px 7px 5px rgba(0,0,0,0.64); 
box-shadow: 13px -9px 7px 5px rgba(0,0,0,0.64);
    text-align: center;
}

.box h1{
    color:white;
    text-transform: uppercase;
    font-weight:500;
}

.box input[type = "text"], .box input[type = "password"]{
    border:0;
    background: none;
    display : block;
    margin:20px auto;
    text-align: center ;
    border: 2px solid #0984e3;
    padding: 14px 10px;
    width: 200px !important;
    outline: none;
    color: white;
    border-radius: 36px;
    transition: 0.25s;
    font-family: 'Mali', cursive;



}

.box input[type = "text"]:hover, .box input[type = "password"]:hover{
    width: 280px !important;
    border-color: #2ecc71;   
}



.secondaryButton {
    font-size: 22px;
    text-decoration: none;
    color:white;

}

.message{
    font-size : 18px;
    /*    background: none;*/
    color: #e74c3c;

}



.loginButton{
    /*content: "\f09c";*/

    height: 50px !important;
    width:  120px !important ;
    border:0;
    background: none !important;
    display : block;
    margin:20px auto !important;
    text-align: center !important;
    /*font-family: 'Mali', cursive;*/
    font-family: FontAwesome;

    font-size: 16px;

    padding: 14px 40px;
    outline: none;
    color: white;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 36px !important;
    transition: 0.25s;
    cursor: pointer; 



}


.loginButton:hover {

    background: #2ecc71 !important;
    width: 220px !important;
    transition: 0.20s ;
    /*fa-lock:active*/
    /*content: "\f09c";*/                   
}







