/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Haz 2019, 11:54:33
    Author     : hp_user
*/
body {
    /*background: #434560 !important;*/
    /*color:#434560 !;*/    
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif !important;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    background-size: 100%;
    background: linear-gradient(to bottom, #cceeff 30%, white 100%);
    /*background-size: 200% 100%;*/
    transition: background-position 1s;
    margin: 0;
    text-decoration: none;


}



/* The sidebar menu */
.sidenav {

}




.topmenu{
    color: #434560 !important
        border: 0px none ;
    width: 100%;
    position: fixed;   
    padding: 0px !important;
    /*        -webkit-border-radius: 0px !important; 
         border-radius: 0px !important; */
    /*z-index: 0;*/ 
    /*top: 0px;*/  


}
.ui-menu, .ui-menu .ui-menu-child{
    -webkit-border-radius: 0px !important; 
    border-radius: 0px !important ; 
    background: #434560 !important;
    position: fixed !important;
    width: 75% !important ;

}
/*topmenu .ui-corner-all{
        -webkit-border-radius: 0px !important ; 
     border-radius: 0px !important; 
}*/



.ui-corner-all{  /* TOP MENU KOSELER*/
    -webkit-border-radius: 0px  ; 
    border-radius: 0px ; 
    border: none !important; 
}

.ui-widget-content{
    border : none !important;
}


.bottom_menu{
    margin-left: 25%;
    margin-top: 90%;
    min-height: 10%;
    max-height: 10%;
    width: 100%;
}






.ui-panelmenu{
    background: #434560 !important;
    /*background-image: -webkit-linear-gradient(top, #267871,#434560) !important;*/

    min-height: 100%;  /* Full-height: remove this if you want "auto" height */
    max-height :  100%;
    margin-top : 51px;
    width: 25% !important;
    position: fixed !important; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    left: 0;

    overflow-x: hidden !important; /* Disable horizontal scroll */
    overflow-y: hidden;
}

.ui-panelmenu a{
    /*color: #000000;*/

}

.ui-panelmenu-header{
    color:#434560;
    background:  red !important;
    border: none !important;

}
.ui-panelmenu .ui-panelmenu-header a{
    /*display: block;*/
    background:  #434560 !important;
    font-size: medium !important;
    font-weight: bold;
    color:white !important;
    /*border: 1px black solid;  menu ana baslik border */
    border-left: none !important;
    border-top: none;
    border-right: none;


}
.ui-panelmenu .ui-panelmenu-header a:hover{ /* admin yazisi hover */
    /*border: 2px black none !important;*/
    /*background: black !important;*/
    background-image: -webkit-linear-gradient(right, #267871,#434560) !important;
    border: 0px;
}
.ui-panelmenu .ui-panelmenu-header a:focus{ /* admin yazisi click */
    /*background: red !important;*/
    background-image: -webkit-linear-gradient(left, #267871,#434560) !important;
    border: 0px;

}


ui-panelmenu-header text{
    /*color: red	!important;*/
    /*background-color:   red !important;*/
    /*color:white !important;*/


}

.ui-panelmenu-content{
    /*color: white !important;*/
    background: #434560 !important;

    display: block;
    padding: 4px 16px;


}	

ui-panelmenu-content a{
    /*height: 160px !important;*/

}

.ui-panelmenu .ui-menu-list:focus{
    /*background-image: -webkit-linear-gradient(left, #267871,#434560) !important;*/


}
.ui-panelmenu .ui-menu-list:focus{
    color:black !important;
    /*background: black	 !important;*/
    /*background-image: -webkit-linear-gradient(right, #267871,#434560) !important;*/


}

.ui-panelmenu .ui-menu-list a:hover{
    background: #136a8a !important;  
    background-image: -webkit-linear-gradient(left, #267871,#434560) !important;

}

.ui-panelmenu .ui-menu-list a:focus{
    /*background: #136a8a !important;*/  

    /*                    background-image: -webkit-linear-gradient(right, #267871,#434560) !important;*/

}


.ui-panelmenu .ui-menu-list ul{
    /*background: x !important;*/
    background:   none !important;

}	

.ui-panelmenu .ui-menuitem :enabled{
    /*background: red !important;*/
    color: black !important;
}	


.ui-menuitem-text{
    color: white !important;
    font-size: 14px !important;
    background: none	 !important;
}	

ui-widget ui-menuitem ui-corner-all ui-menu-parent:active{
    background: black !important;
}


.ui-g-3 {
    padding: 0px !important;
}

.ui-g-9{
    padding: 0px !important;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    /*    position: fixed;*/
    /*top: 0;*/
    width: 100%;
    /*height: 6%;*/
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.sublist{

}

.sublist:focus{
    background: #136a8a !important;  
    background-image: -webkit-linear-gradient(left, #267871,#434560) !important;

}

.topLeftBar{
    background: #136a8a ;
    position: fixed;
    background-image: -webkit-linear-gradient(left, #136a8a, #267871);
    /*height: 100%;*/
    width: 25%;
    height: 51px !important;

}




